.header {
  width: 100%;
  min-height: 12vh;
  background-color: rgb(92, 100, 98);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.header h1 {
  font-size: 40px;

  font-weight: bold;
  color: gold;
  font: Georgia, serif;
  text-shadow: 2px 4px 5px black;
}
